@inherits LayoutComponentBase

<div class="page">
    <main>
        <audio id="BGM" loop src="placeholders/music.mp3" />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
