@page "/Store"
@using PachiArmy.Components
@using PachiArmy.Scripts;

<Container TextAlignment="TextAlignment.Center" Background="Background.Light">
    @* Header *@
    <Row Padding="Padding.Is2">
        <Column ColumnSize="ColumnSize.Is1">
            <Link onclick="@GameManager.ClearAllDelegateSubscriptions" To="Horde">
            <Div class="clicky-card-link">
                <Card Padding="Padding.Is2" Margin="Margin.Is1">
                    <CardBody>
                        <Text>🔙</Text>
                    </CardBody>
                </Card>
            </Div>
            </Link>
        </Column>
        <Column ColumnSize="ColumnSize.Is10">
            <Div Padding="Padding.Is2" />
            <Text TextSize="TextSize.Heading1" Padding="Padding.Is2">Chopper's Toy Store</Text>
        </Column>
        <Column ColumnSize="ColumnSize.Is1" />
    </Row>

    @* Body *@
    <Row>
        <Column ColumnSize="ColumnSize.Is8" Height="Height.Rem(37)">
            <Image Source="placeholders/Chopper.png" VerticalAlignment="VerticalAlignment.Bottom" />
        </Column>
        <Column ColumnSize="ColumnSize.Is4">
            <Container TextAlignment="TextAlignment.Center" Padding="Padding.Is2">
                @* Resources *@
                <ResourcesPanel />

                <Div Padding="Padding.Is2" />

                @* ShopWindow *@
                <ShopWindow Store="@StoreManager.CurStore" />
            </Container>
        </Column>
    </Row>

    @* Dialog Box *@
    <Row Padding="Padding.Is4" Background="Background.Light">
        <Card Height="Height.Rem(15)">
            <CardBody style="display: grid; align-items: center;">
                <Text VerticalAlignment="VerticalAlignment.Middle"TextSize="TextSize.ExtraLarge">
                    Hello there!
                    <br/>
                    My name is Chopper, welcome to my toy store.
                </Text>
            </CardBody>
        </Card>
    </Row>
</Container>