@using PachiArmy.Scripts;
@* @typeparam Pachimari *@

@* @attribute [CascadingTypeParameter(nameof(Pachimari))]; *@

<CascadingValue Value="this" IsFixed="true">
    <DropContainer TItem="Placeable" Items="Items" ItemsFilter="@((item, dropZone) => item.Position.ToString() == dropZone)">
        <ChildContent>
            <Container TextAlignment="TextAlignment.Center">
                <Row>
                    <Column Background="Background.Light" ColumnSize="ColumnSize.Is9">
                        <Container TextAlignment="TextAlignment.Center">
                            @for (int r = 0; r < 8; r++)
                            {
                                var row = r.ToString();
                                <Div class="d-flex">
                                    @for (int c = 0; c < 8; c++)
                                    {
                                        var col = c.ToString();
                                        <DropZone Padding="Padding.Is1" TItem="Placeable" Name="@($"{row} {col}")" DropAllowed=@((item) => true) Background="Background.White" Border="Border.Is1" Height="Height.Rem(7)" Width="Width.Rem(7)" />
                                    }
                                </Div>
                            }
                        </Container>
                    </Column>
                    <Column Background="Background.Dark" ColumnSize="ColumnSize.Is3">

                    </Column>
                </Row>
            </Container>
        </ChildContent>
        <ItemTemplate>
            @TestBody(context)
@*             @foreach (Pachimari pachi in Items)
                    {
                        if (pachi.Equals(context))
                        {
                            <tr>
                                @TestBody(pachi)
                            </tr>
                        }
                    } *@
        </ItemTemplate>
    </DropContainer>


</CascadingValue>