@typeparam TItem

@attribute [CascadingTypeParameter(nameof(TItem))];

<CascadingValue Value="this" IsFixed="true">
    <table>
        <tbody>
            @foreach (var row in Rows)
            {
                <tr @key="row">
                    @TestBody(row)
                    <span>@row.Checked</span>   // .. this does not get updated
                </tr>
            }
        </tbody>
    </table>
</CascadingValue>