@using PachiArmy.Scripts;
@* @typeparam Pachimari *@

@* @attribute [CascadingTypeParameter(nameof(Pachimari))]; *@

<CascadingValue Value="this" IsFixed="true">
    <table>
        <tbody>
            @foreach (Pachimari pachi in Rows)
            {
                <tr @key="pachi">
                    <span>@pachi.test</span>   // .. this does not get updated
                </tr>
            }
        </tbody>
    </table>
</CascadingValue>