@using PachiArmy.Scripts;
@using System.Timers;

<Tooltip Text="@Placeable.GetHoverText()" Multiline=true Fade=true FadeDuration="70">
    <Div class="pachimari gallery-item" onclick="@Placeable.Clicked" TextAlignment="TextAlignment.Center">
        <Image Source="@Placeable.GetImage()" Width="Width.Is100" Height="Height.Is50" />
    </Div>
</Tooltip>

@code {
    [CascadingParameter]
    public HordeView Owner { get; set; } = default!;

    [Parameter]
    public Placeable Placeable { get; set; } = default!;

    public TestCell()
    {
        GlobalTimer.Timer.Elapsed += OnTimedEvent;
    }

    public void OnTimedEvent(Object source, ElapsedEventArgs e)
    {
        Placeable.Clicked();
        Owner.Refresh();
        StateHasChanged();
    }
}