@page "/Store"
@using CatiArmi.Components
@using CatiArmi.Scripts;
@inject NavigationManager NavigationManager

<Animate Auto Animation="PageAnimationManager.NextPageAnimation">
     <Container TextAlignment="TextAlignment.Center">
         @* Header *@
         <Row Padding="Padding.Is2">
             <Column ColumnSize="ColumnSize.Is2">
                 <Div Class="clicky-card-link" Style="position: relative;" onclick="@NavigateToHordeView" Padding="Padding.Is1">
                     <Image Source="art/ui/backbutton.png" TextAlignment="TextAlignment.Center" Width="Width.Is100" Height="Height.Rem(5)" />
                     <Row Class="centered" Width="Width.Rem(16.5)">
                        <Text VerticalAlignment="VerticalAlignment.Middle">Back</Text>
                    </Row>
                </Div>
             </Column>
             <Column ColumnSize="ColumnSize.Is8">
                 <Div Padding="Padding.Is2" />
                 <Text TextSize="TextSize.Heading1" Padding="Padding.Is2">@StoreManager.CurStore.Name</Text>
             </Column>
             <Column ColumnSize="ColumnSize.Is2"/>
         </Row>

         @* Body *@
         <Row>
             <Column ColumnSize="ColumnSize.Is8" Height="Height.Rem(37)">
                 <Image Source="placeholders/Chopper.png" VerticalAlignment="VerticalAlignment.Bottom" />
             </Column>
             <Column ColumnSize="ColumnSize.Is4">
                 <Container TextAlignment="TextAlignment.Center" Padding="Padding.Is2">
                     <ResourcesPanel />

                     <ShopWindow Store="@StoreManager.CurStore" />
                 </Container>
             </Column>
         </Row>

         @* Dialog Box *@
         <Row Padding="Padding.Is2">
             <Container Width="Width.Is100" style="position: relative;">
                 <Image Source="art/ui/dialogbox.png" Width="Width.Is100" Height="Height.Rem(16)" />
                 <Row Class="centered-dialog" Width="Width.Rem(70)">
                     <Text TextSize="TextSize.Heading1" VerticalAlignment="VerticalAlignment.Top">@StoreManager.CurStore.CurSpeech</Text>
                </Row>
            </Container>
         </Row>
     </Container>
 </Animate>

 @code {
    protected override void OnInitialized()
    {
        Task.Run(async () =>
        {
            await Task.Delay(100);
            PageAnimationManager.NextPageAnimation = Animations.Fade;
        });
    }

    public StoreView()
    {
        StoreManager.InvokeSpeechEnteredStore();

        StoreManager.StoreRefresh += StateHasChanged;
    }

    void NavigateToHordeView()
    {
        GameManager.ResetTimers();

        PageAnimationManager.NextPageAnimation = Animations.FadeRight;
        NavigationManager.NavigateTo("Horde");

        AudioManager.PlaySound("transitionToHorde");
    }
}