@using PachiArmy.Scripts;
@using PachiArmy.Pages;
@using System.Timers;

<Tooltip Text="@Placeable.GetHoverText()" Multiline=true Fade=true FadeDuration="70">
    <Div class="pachimari gallery-item" onclick="@Placeable.Clicked" TextAlignment="TextAlignment.Center">
        <Image Source="@Placeable.GetImage()" Width="Width.Is100" Height="Height.Is50" />
    </Div>
</Tooltip>

@code {
    [Parameter]
    public Placeable Placeable { get; set; } = default!;

    protected override void OnInitialized()
    {
        GlobalTimer.TickTimer.Elapsed += Tick;
        GlobalTimer.RefreshTimer.Elapsed += Refresh;
    }

    public void Tick(Object source, ElapsedEventArgs e)
    {
        StateHasChanged();
    }

    public void Refresh(Object source, ElapsedEventArgs e)
    {
        StateHasChanged();
    }
}