@using PachiArmy.Scripts;
<Row Padding="Padding.Is2">
    <Column ColumnSize="ColumnSize.Is4" Background="Background.Warning" Padding="Padding.Is2">
        <Row Padding="Padding.Is2">
            <Container>
                <Image Source="placeholders/coin.png" Width="Width.Is50"></Image>
            </Container>
        </Row>
        <Row Padding="Padding.Is1">
            <Text>$@Inventory.Money</Text>
        </Row>
    </Column>
    <Column ColumnSize="ColumnSize.Is8" Background="Background.Light" Padding="Padding.Is2">
        <Div Padding="Padding.Is2" Height="Height.Rem(3)">
            <Text Height="Height.Is25">Food Reserve</Text>
            <Progress Value="@((int)Inventory.FoodReserve)" Max="@((int)Inventory.MaxFoodReserve)" Height="Height.Is75" Color="Color.Danger" />
        </Div>
        <Div Padding="Padding.Is1" />
        <Div Padding="Padding.Is2" Height="Height.Rem(3)">
            <Text Height="Height.Is25">Water Reserve</Text>
            <Progress Value="@((int)Inventory.WaterReserve)" Max="@((int)Inventory.MaxWaterReserve)" Height="Height.Is75" />
        </Div>
        <Div Padding="Padding.Is2" />
    </Column>
</Row>

@code {
    public ResourcesPanel()
    {
        Inventory.ResourcesUpdated += StateHasChanged;
    }
}