<Div Padding="Padding.Is2">
    <Text TextSize="TextSize.Small">Open!</Text>
    <Div class="clicky-card-link">
        <Card Padding="Padding.Is2" Margin="Margin.Is1" Width="Width.Max100">
            <Container>
                <Span>
                    <Image Source="@StoreIcon" Width="Width.Rem(3)" />
                    <Text Padding="Padding.Is2" VerticalAlignment="VerticalAlignment.Middle">@StoreName</Text>
                </Span>
            </Container>
        </Card>
    </Div>
</Div>

@code {
    [Parameter]
    public string StoreName { get; set; } = default!;

    [Parameter]
    public string StoreIcon { get; set; } = default!;

    [Parameter]
    public int PachisToUnlock { get; set; } = default!;
}