<Div Padding="Padding.Is1">
    <Div class="clicky-card">
        <Card Padding="Padding.Is2" Margin="Margin.Is1" Width="Width.Max100">
            <Container>
                <Span>
                    <Image Source="placeholders/pachimari-idle.png" Width="Width.Rem(3)" />
                    <Text Padding="Padding.Is2" VerticalAlignment="VerticalAlignment.Middle">Candy $10</Text>
                </Span>
            </Container>
        </Card>
    </Div>
</Div>