@using CatiArmi.Scripts;
@using CatiArmi.Pages;
@using System.Timers;

<Tooltip Text="@Placeable.GetHoverText()" Multiline=true Fade=true FadeDuration="70">
    <Div class="pachimari gallery-item" onclick="@Placeable.Clicked" onmouseover="@Placeable.Hovered" TextAlignment="TextAlignment.Center">
        <Image Source="@Placeable.GetImage()" Width="Width.Is100" Height="Height.Is50" />
    </Div>
</Tooltip>

@code {
    [Parameter]
    public Placeable Placeable { get; set; } = default!;

    public BoardPlaceable()
    {
        BoardManager.PachiTick += StateHasChanged;
        BoardManager.BoardRefresh += StateHasChanged;
    }
}