@using CatiArmi.Scripts;
<Row Padding="Padding.Is2">
    <Div Padding="Padding.Is1">
        <Row Height="Height.Rem(3)">
            <Column ColumnSize="ColumnSize.Is2">
                <Image Source="art/ui/coin-1.png" Height="Height.Rem(3)" Width="Width.Rem(3)" />
            </Column>
            <Column ColumnSize="ColumnSize.Is2">
                <Div Padding="Padding.Is1"/>
                <Text TextSize="TextSize.Large">$@Inventory.Money</Text>
            </Column>
        </Row>
    </Div>
    <Div Padding="Padding.Is1">
        <Row Height="Height.Rem(3)">
            <Column ColumnSize="ColumnSize.Is2">
                <Image Source="art/ui/food.png" Height="Height.Rem(3)" Width="Width.Rem(3)" />
            </Column>
            <Column ColumnSize="ColumnSize.Is2">
                <Div Class="gallery-item" Padding="Padding.Is1">
                    <Image Source="art/ui/bar-foodfill.png" Style="@GetFoodFillStyle()" Width="Width.Rem(18)" Height="Height.Rem(2.5)" />
                    <Image Source="art/ui/bar-outline.png" Width="Width.Rem(18)" Height="Height.Rem(2.5)" />
                </Div>
            </Column>
        </Row>
    </Div>
    <Div Padding="Padding.Is1">
        <Row Height="Height.Rem(3)">
            <Column ColumnSize="ColumnSize.Is2">
                <Image Source="art/ui/water.png" Height="Height.Rem(3)" Width="Width.Rem(3)" />
            </Column>
            <Column ColumnSize="ColumnSize.Is2">
                <Div Class="gallery-item" Padding="Padding.Is1">
                    <Image Source="art/ui/bar-waterfill.png" Style="@GetWaterFillStyle()" Width="Width.Rem(18)" Height="Height.Rem(2.5)" />
                    <Image Source="art/ui/bar-outline.png" Width="Width.Rem(18)" Height="Height.Rem(2.5)" />
                </Div>
            </Column>
        </Row>
    </Div>
</Row>

@code {
    public ResourcesPanel()
    {
        Inventory.ResourcesUpdated += StateHasChanged;
    }

    string GetFoodFillStyle()
    {
        float foodFillPercentage = Inventory.FoodReserve * 1.0f / Inventory.MaxFoodReserve;
        string foodFillClipAmount = (foodFillPercentage * 18) + "rem";
        return "position: absolute; clip: rect(0, " + foodFillClipAmount + ", 2.6rem, 0);";
    }

    string GetWaterFillStyle()
    {
        float waterFillPercentage = Inventory.WaterReserve * 1.0f / Inventory.MaxWaterReserve;
        string waterFillClipAmount = (waterFillPercentage * 18) + "rem";
        return "position: absolute; clip: rect(0, " + waterFillClipAmount + ", 2.6rem, 0);";
    }
}